/* button.module.css */

.largeWhiteButton {
    background-color: white;
    color: black;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16pt; /* Adjust the font size as needed */
    margin: 0px 20px;
    transition: background-color 0.3s, color 0.3s;
    z-index: 99;
    border: 2px solid goldenrod;
  }

  .largeWhiteButton:hover {
    background-color: #d48a0d;
    color: white;
    border: 2px solid white;
  }

  .largeWhiteButton[disabled] {
    background-color: #f0f0f0;
    color: grey;
    cursor: not-allowed;
  }

.buttoncountdowntext {
    font-size: 10pt;
}
  