/* styles/rules.module.css */

.container {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
  }
  
  .title {
    font-size: 4rem;
    margin: 0;
  }
  
  .rulesContent {
    padding: 10px 200px;
    text-align: left;
  }

  .header {
    margin-top: 50px;
  }
  
  .lineSpacing {
    line-height: 1.6;
  }

  .marginedLi {
    margin-bottom: 15px;
  }

  .horizontalSeparator {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    width: 90%;
    align-self: center;
  }

  @media (max-width: 1100px) {
    .rulesContent {
      width: 100%;
      padding: 0px;
    }
  }