/* styles.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 99;
    height: 100vh;
  }
  
  .textContainer {
    text-align: center;
    width: 75%;
    font-size: 4rem;
    font-weight: bold;
    z-index: 99;
  }
  
  .textAboveBelow {
    font-size: 1rem;
    font-weight: normal;
  }
  
  .countdown {
    padding: 50px;
    font-size: 4rem;
    color: white;
    z-index: 99;
  }
  
  .red {
    color: red; 
  }

  .lineSpacing {
    line-height: 1.6;
  }

  .hero {
    width: 50%;
    margin-bottom: -100px;
    margin-top: -50px;
    z-index: 99;
  }

  .fixedContainer {
    position: fixed;
    overflow: hidden;
    z-index: 99;
    height: 100%;
  }

  .motiv {
    height: 100%;
    animation: rotateImage 60s linear infinite;
    opacity: .7;
  }
  
  @keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 1000px) {
    .hero {
      width: 100%;
      margin-bottom: -40px;
    }

    .countdown {
      font-size: 3rem;
    }
  }

  