.container {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
  }
  
  .title {
    font-size: 4rem;
    margin: 0;
  }

  .container > * {
    margin: 0 auto;
}

  .horizontalSeparator {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid darkgray;
    width: 80%;
  }

  .lineSpacing {
    line-height: 1.6;
  }

  .raetsel {
    font-size: 18pt;
    font-style: italic;
    line-height: 1.9;
    border: 1px solid white;
    padding: 20px;
    margin-top: 50px;
    width: 40%;
  }

  @media (max-width: 1300px) {
    .raetsel {
      width: 90%;
      font-size: 18pt;
        font-style: italic;
        line-height: 1.7;
        border: 1px solid white;
        padding: 20px;
        margin-top: 50px;
    }
  }

  @media (max-width: 700px) {
    .raetsel {
      width: 90%;
      font-size: 15pt;
        font-style: italic;
        line-height: 1.7;
        border: 1px solid white;
        padding: 20px;
        margin-top: 50px;
    }

    .title {
      font-size: 2rem;
      margin: 0;
    }

    .container {
      padding: 25px;
    }
  }